# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# IDE/editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# NPM cache
.npm/

# PNPM cache
.pnpm/


# ESLint cache
.eslintcache
