/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_container__jZF7q {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  justify-content: center;
}

.page_containerHeader__0Ow_q {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.page_containerHeader__0Ow_q h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #7261ff;
  margin-right: 10px;
}

.page_infoIcon__0ySRW {
  margin-left: 3px;
  font-size: 1rem;
  color: gray;
}

.page_addButton__HNjXU {
  background-color: #7261ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.page_addButton__HNjXU:hover {
  background-color: #554fb8;
}

.page_highlightsList__xz_Ab {
  width: 100%;
  max-width: 1200px;
  margin-top: 10px;
}

.page_row__qDqJa {
  display: flex;
  align-items: center;
  padding: 22px 10px;
  border: 1px solid #e1e1e1;
  border-radius: 1px;
  background-color: white;
}

.page_dragHandle__4wvg0 {
  cursor: move;
  margin-right: 15px;
  font-size: 1.5rem;
  color: #808080;
}

.page_input__lx_gt {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 1rem;
  color: #333;
}

.page_deleteButton__nk9u9 {
  background: none;
  border: none;
  cursor: pointer;
  color: #808080;
  font-size: 1.5rem;
}

.page_deleteButton__nk9u9:hover {
  color: #ff6b6b;
  background-color: transparent;
}

